.nav {
  width: 100vw;
  height: 70px;
  background-color: #fff;
  border-bottom: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}
.nav-container {
  width: 80%;
  margin: 0 auto;
}
.content {
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
}

.nav-brand a {
  color: rgb(169, 201, 243);
  justify-self: start;
  cursor: pointer;
  font: bold;
}

.menu-item {
  display: flex;
  padding-top: 8px;
}

.items {
  display: flex;
  margin-right: 20px;
}
.items li a {
  cursor: pointer;
}
.btn {
  background-color: #611bbd;
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 4px 15px;
}
