* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #f3f4f6;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  margin: 0px 7px;
}
li {
  list-style: none;
}
